.candidate {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
  .candidate-content {
    > p {
      margin-bottom: 170px;
      img {
        max-width: 1420px;
        width: 100%;
        height: auto;
        vertical-align: top;
      }
    }
    .title-area {
      text-align: center;
      margin-bottom: 170px;
      > h3 {
        font-family: "Pretendard-Bold", sans-serif;
        color: #52575E;
        margin-bottom: 30px;
        font-size: 50px;
      }
      > p {
        font-size: 18px;
        color: #52575E
      }
    }
    > dl {
      display: flex;
      height: 667px;
      align-items: center;
      margin-top: 140px;
      &.candidate-01 {
        margin-top: 0;
        background: url("/images/sub/career/candidate/daedong-door-creative.png") no-repeat 100% 0;
      }
      &.candidate-02 {
        text-align: right;
        justify-content: right;
        background: url("/images/sub/career/candidate/daedong-door-chanllenge.png") no-repeat 0 0;
        > div {
          > dd {
            text-align: left;
          }
        }
      }
      &.candidate-03 {
        background: url("/images/sub/career/candidate/daedong-door-global.png") no-repeat 100% 0;
      }
      > div {
        > dt {
          display: inline-block;
          color: #52575E;
          font-size: 50px;
          font-family: "Pretendard-Bold", sans-serif;
          background-color: rgba(255, 255, 255, 0.9);
          margin-bottom: 23px;
          padding: 0 10px 5px;
        }
        > dd {
          font-size: 18px;
          font-family: "Pretendard-Medium", sans-serif;
          line-height: 35px;
          color: #52575E;
          background-color: rgba(255, 255, 255, 0.9);
          padding: 18px 10px;
        }
      }
    }
  }
}
