.career-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 90px;
  flex-wrap: wrap;
  gap: 20px 0;
  max-width: 1600px;
  width: 100%;
  > h3 {
    color: #192A67;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 48px */
  }
  > ul {
    > li {
      margin-top: 13px;
      > a {
        display: flex;
        padding: 14px 16px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 8px;
        background: #24C2FF;
        color: #FFF;
        font-family: Pretendard;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; /* 18px */
      }
      &.introduce {
        margin-top: 0;
        > a {
          background-color: #24C2FF;
        }
        &.factory {
          > a {
            background-color: #046B64
          }
        }
      }
      &.go {
        > a {
          color: #000;
          background-color: #D0E5E8;
        }
      }
    }
  }
}
.position-list {
  margin-bottom: 55px;
  width: 100%;
  > ul {
    display: flex;
    flex-direction: row;
    > li {
      display: flex;
      height: 127px;
      padding: 1px 2px;
      justify-content: center;
      align-items: center;
      gap: 5px;
      align-self: stretch;
      flex: 1 1 0;
      // &:first-child {
      //   border-left: 1px solid #8E8E8E;
      // }
      > a {
        display: flex;
        padding: 14px 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        border-radius: 8px;
        background: #fff;
        color: #04156B;
        border: 1px solid #D2D2D2;
      }
      &.active {
        > a {
          background-color: #04156B;
          color: #fff;
        }
      }
    }
  }
}
.position-content {
  > p {
    img {
      vertical-align: top;
      width: 100%;
      height: auto;
    }
  }
  // .quality-wrap {
  //   display: flex;
  //   flex-direction: column;
  > dl {
    margin-top: 80px;
    &.quality-01 {
      > dt {
        background: url("/images/sub/career/position/position-01-01.png") no-repeat 0 50%;
      }
    }
    &.quality-02 {
      > dt {
        background: url("/images/sub/career/position/position-01-02.png") no-repeat 0 50%;
      }
    }
    &.quality-03 {
      > dt {
        background: url("/images/sub/career/position/position-01-03.png") no-repeat 0 50%;
      }
    }
    &.quality-04 {
      > dt {
        background: url("/images/sub/career/position/position-01-04.png") no-repeat 0 50%;
      }
    }
    &.sales-01 {
      > dt {
        background: url("/images/sub/career/position/position-02-01.png") no-repeat 0 50%;
      }
    }
    &.research-01 {
      > dt {
        background: url("/images/sub/career/position/position-03-01.png") no-repeat 0 50%;
      }
    }
    &.research-02 {
      > dt {
        background: url("/images/sub/career/position/position-03-02.png") no-repeat 0 50%;
      }
    }
    &.research-03 {
      > dt {
        background: url("/images/sub/career/position/position-03-03.png") no-repeat 0 50%;
      }
    }
    &.production-01 {
      > dt {
        background: url("/images/sub/career/position/position-04-01.png") no-repeat 0 50%;
      }
    }
    &.production-02 {
      > dt {
        background: url("/images/sub/career/position/position-04-02.png") no-repeat 0 50%;
      }
    }
    &.procurement-01 {
      > dt {
        background: url("/images/sub/career/position/position-05-01.png") no-repeat 0 50%;
      }
    }
    &.procurement-02 {
      > dt {
        background: url("/images/sub/career/position/position-05-02.png") no-repeat 0 50%;
      }
    }
    &.management-01 {
      > dt {
        background: url("/images/sub/career/position/position-06-01.png") no-repeat 0 50%;
      }
    }
    &.management-02 {
      > dt {
        background: url("/images/sub/career/position/position-06-02.png") no-repeat 0 50%;
      }
    }
    &.management-03 {
      > dt {
        background: url("/images/sub/career/position/position-06-03.png") no-repeat 0 50%;
      }
    }
    &.management-04 {
      > dt {
        background: url("/images/sub/career/position/position-06-04.png") no-repeat 0 50%;
      }
    }
    &.management-05 {
      > dt {
        background: url("/images/sub/career/position/position-06-05.png") no-repeat 0 50%;
      }
    }
    &.factory-01 {
      > dt {
        background: url("/images/sub/career/position/position-07-01.png") no-repeat 0 50%;
      }
    }
    > dt {
      padding: 9px 0 9px 63px;
      font-size: 28px;
      font-family: "Pretendard-Bold", sans-serif;
      color: #005EB8;
      text-transform: uppercase;
      span {
        color: #036CFF;
        font-size: 18px;
        font-family: "Pretendard-Light", sans-serif;
        display: inline-block;
        margin-left: 25px;
      }
    }
    > dd {
      margin-top: 30px;
      > p {
        color: #111;
        font-family: Pretendard;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 33px */
      }
      > ul {
        margin-top: 34px;
        padding-left: 29px;
        > li {
          position: relative;
          padding-left: 10px;
          margin-top: 10px;
          color: #555;
          font-family: Pretendard;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 180%; /* 36px */
          flex: 1 0 0;
          opacity: 0.8;
            &:first-child {
            margin-top: 0;
          }
          &:before {
            position: absolute;
            top: 0;
            left: 0;
            content: "·";
          }
        }

      }
    }
  }}


@media only screen and (max-width: 768px) {
  .position-list {
    > ul {
      border-top: 1px solid #8e8e8e;
      > li {
        flex: 1 33%;
        border-top: none;
        &:nth-child(4) {
          border-left: 1px solid #8e8e8e;
        }
      }
    }
  }
}
