/* Font */
@font-face {
  font-family: 'Pretendard-Medium';
  src: url("../fonts/Pretendard-Medium.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url("../fonts/Pretendard-Bold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url("../fonts/Pretendard-SemiBold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url("../fonts/Pretendard-ExtraBold.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Light';
  src: url("../fonts/Pretendard-Light.woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url("../fonts/Pretendard-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

/* Header */
header {
  min-width: 360px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 20;
  &.on {
    background-color: #fff;
    transition: 0.5s ease-in-out;
    border-bottom: 1px solid #ddd;
  }
  > div {
    max-width: 1600px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* 메인메뉴 */
    > nav {
      > .nav-bg {
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background: #fff;
        position: absolute;
        top: 99px;
        left: 0;
        width: 100%;
        height: 0;
        visibility: hidden;
        opacity: 0;
        z-index: 20;
      }
      &.on {
        .nav-bg {
          visibility: visible;
          opacity: 1;
          height: 360px;
          transition: opacity 0.5s, height 0.5s;
        }
      }
      > ul {
        display: flex;
        gap: 30px;
        > li {
          position: relative;
          > a {
            position: relative;
            font-size: 18px;
            color: #555;
            padding: 20px 10px;
          }
          > ul {
            visibility: hidden;
            position: absolute;
            top: 107px;
            left: 0;
            width: calc(100% + 100px);
            opacity: 0;
            z-index: 20;
            > li {
              margin-top: 15px;
              > a {
                color: #555;
                font-size: 18px;
              }
              &:first-child {
                margin-top: 0;
              }
            }
          }
          &.on {
            > a {
              color: #194795;
              font-weight: 600;
              &:after {
                position: absolute;
                bottom: -21px;
                left: 0;
                width: calc(100% + 20px);
                height: 5px;
                background-color: #194795;
                display: block;
                content: "";
                transform: translateX(-10px);
              }
            }
            > ul {
              visibility: visible;
              opacity: 1;
              transition: opacity 0.5s;
            }
          }
          &.business-area {
            position: static;
            &.on {
              > ul {
                display: flex;
                gap: 80px;
                justify-content: center;
                margin-top: 45px;
                > li {
                  flex-basis: auto;
                  margin-top: 0;
                  > a {
                    color: #313131;
                    font-size: 18px;
                    font-weight: 600;
                  }
                  > ul {
                    > li {
                      margin-top: 15px;
                      > a {
                        color: #555;
                        font-size: 18px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    /* 언어선택 및 모바일 메뉴 */
    .language {
      display: flex;
      align-items: center;
      .language-button {
        color: #0E7DC8;
        font-size: 18px;
      }
      > div {
        display: none;
        margin-left: 20px;
        .menu-button {
          background: none;
          border: none;
          padding: 0;
          cursor: pointer;
          .bar {
            width: 25px;
            height: 3px;
            background-color: #333;
            margin-top:5px;
            border-radius: 3px;
            &:first-child {
              margin-top: 0;
            }
          }
        }
        > nav {
          opacity: 0;
          visibility: hidden;
          background-color: rgba(0, 0, 0, 0.4);
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          z-index: 30;
          &.on {
            display: block;
            visibility: visible;
            opacity: 1;
            transition: opacity 0.5s, visibility 0s;
          }
          .nav-header {
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            width: 320px;
            align-items: center;
            padding: 10px 10px 30px;
            box-sizing: border-box;
            button {
              padding: 0;
              border: none;
              cursor: pointer;
              background: none;
              display:inline-block;*display:inline;
              &:after {
                display: inline-block;
                content: "\00d7";
                font-size: 50px;
              }
            }
          }

          > ul {
            width: 320px;
            height: 100%;
            background-color: #fff;
            border-top: 1px solid #ddd;
            > li {
              border-bottom: 1px solid #ddd;
              > a, > button {
                display: block;
                padding: 20px 20px;
                font-size: 20px;
                color: #555;
              }
              > button {
                position: relative;
                background: none;
                border: none;
                line-height: 100%;
                width: 100%;
                text-align: left;
                &:after {
                  position: absolute;
                  right: 23px;
                  top: 19px;
                  content: '';
                  width: 10px;
                  height: 10px;
                  border-top: 3px solid #000;
                  border-right: 3px solid #000;
                  transform: rotate(135deg);
                }
              }
              > ul {
                max-height: 0;
                padding-bottom: 0;
                overflow: hidden;
                > li {
                  > a {
                    display: block;
                    padding: 10px 20px;
                    color: #555;
                  }
                }
              }
              &.on {
                > button {
                  &:after {
                    top: 28px;
                    transform: rotate(-45deg);
                  }
                }
                > ul {
                  max-height: 400px;
                  padding-bottom: 10px;
                  transition: max-height 1s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Footer */
footer {
  min-width: 320px;
  background: #194795;
  color: #fff;
  padding: 83.5px 20px 69px;
  > .footer-inner {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    gap: 40px 0;
    flex-wrap: wrap;
    > div {
      flex: 1 1 auto;
      padding:0 40px;
      border-left: 1px solid #D4D0D0;
      &.footer-area-1 {
        padding: 0;
        border-left: none;
        .footer-logo {
          margin-bottom: 43.5px;
          img {
            vertical-align: top;
          }
        }
        > div {
          margin-bottom: 48px;
          > p {
            color: #fff;
            font-size: 13px;
            margin-top: 13px;
            &:first-child {
              margin-top: 0;
            }
          }
        }
        .copyright {
          font-size: 13px;
          color: #B9BABF;
        }
      }
      &.footer-area-2 {
        > dl {
          dt {
            color: #fff;
            font-family: "Pretendard-SemiBold", sans-serif;
            margin-bottom: 43px;
          }
          dd {
            > ul {
              > li {
                margin-top: 15px;
                &:first-child {
                  margin-top: 0;
                }
                > a {
                  color: #fff;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
      &.footer-area-3 {
        > dl {
          dt {
            color: #fff;
            font-family: "Pretendard-SemiBold", sans-serif;
            margin-bottom: 43px;
          }
          dd {
            > ul {
              > li {
                margin-top: 15px;
                &:first-child {
                  margin-top: 0;
                }
                > a {
                  color: #fff;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
      &.footer-area-4 {
        padding-right: 0;
        > p {
          margin-bottom: 33px;
          color: #fff;
          font-family: "Pretendard-SemiBold", sans-serif;
        }
        .footer-email {
          margin-bottom: 49px;
          label {
            margin-bottom: 14px;
            display: block;
            color: #fff;
            font-family: "Pretendard-SemiBold", sans-serif;
          }
          input {
            display: block;
            box-sizing: border-box;
            width: 100%;
            border: 1px solid #707070;
            border-radius: 9px;
            padding: 15px;
            font-size: 15px;
            margin-bottom: 17px;
          }
          button {
            padding: 17px 67px;
            border: none;
            background: #00B8F5;
            color: #fff;
            font-size: 18px;
            font-family: "Pretendard-SemiBold", sans-serif;
            border-radius: 28px;
          }
        }
        .footer-link {
          display: flex;
          gap: 20px;
          flex-wrap: wrap;
          > dl {
            display: flex;
            font-size: 13px;
            gap: 20px;
            &:first-child {
              padding-right: 20px;
              border-right: 1px solid #fff;
            }
            > dt {
              color: #fff;
            }
            > dd {
              > ul {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;
                > li {
                  > a {
                    color: #fff;
                  }
                }
              }
            }
            &.sitemap {
              a {
                color: #FFFF0C;
              }
            }
          }
        }
      }
    }
  }
}

/* Paging */
.paging {
  text-align: center;
  margin-top: 50px;
  > div {
    display: inline-flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    > div {
      > nav {
        display: none;
      }
      .language {
        > div {
          display: block;
          .menu-button {
            display: block;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  header {
    > div {
      > nav {
        display: none;
      }
      .language {
        > div {
          display: block;
          .menu-button {
            display: block;
          }
        }
      }
    }
  }
}
