.container-header-01 {
  padding: 220px 20px 0;
  text-align: center;
  margin-bottom: 60px;
  > h2 {
    font-size: 45px;
    font-family: "Pretendard-ExtraBold", sans-serif;
    color: #023A8E;
    margin-bottom: 10px;
  }
  .location {
    display: inline-flex;
    margin-bottom: 65px;
    > li {
      font-family: "Pretendard-SemiBold", sans-serif;
      margin-left: 20px;
      padding-left: 35px;
      position: relative;
      font-size: 20px;
      color: #023A8E;
      &:before {
        content: ">";
        position: absolute;
        top: 0;
        left: 0;
      }
      &:first-child {
        padding-left: 0;
        margin-left: 0;
        &:before {
          display: none;
        }
      }
    }
  }
  > p {
    color: #52575E;
    font-size: 18px;
    font-family: "Pretendard-Medium", sans-serif;
    line-height: 35px;
  }
}
