.affiliate {
  position: relative;
  max-width: 1600px;
  margin: 100px auto 0;
  .init-btn {
    border: none;
    background: #1B4D99;
    color: #fff;
    font-size: 15px;
    font-family: "Pretendard-Medium", sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    border-radius: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 55px;
    width: 200px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    cursor: pointer;
  }
}
