.affiliate {
  position: relative;
  margin: 100px auto 0;
  .init-btn {
    border: none;
    background: #1B4D99;
    color: #fff;
    font-size: 15px;
    font-family: "Pretendard-Medium", sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    border-radius: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 55px;
    width: 200px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    cursor: pointer;
  }

  .continent {
    position: absolute;
    bottom: 0;
    left: 50%;
    max-width: 1600px;
    width: 100%;
    background-color: #fff;
    transform: translateX(-50%);
    > ul {
      display: flex;
      > li {
        position: relative;
        width: 33%;
        > p {
          cursor: pointer;
          padding: 0 30px;
          display: flex;
          align-items: center;
          height: 60px;
          border: 1px solid #707070;
          color: #707070;
          font-size: 18px;
          font-family: "Pretendard-SemiBold", sans-serif;
          background: url("/images/sub/company/affiliate/area-off.svg") no-repeat calc(100% - 30px) 50%;
        }
        &.on {
          > p {
            background: url("/images/sub/company/affiliate/area-on.svg") no-repeat calc(100% - 30px) 50%;
          }
        }
        > ul {
          display: none;
          width: calc(100%);
          position: absolute;
          bottom: 62px;
          left: 0;
          background-color: #fff;
          padding: 30px 0 0;
          box-sizing: border-box;
          border: 1px solid #707070;
          border-bottom: none;
          max-height: 625px;
          overflow-y: auto;
          > li {
            > p {
              padding: 0 30px 30px 30px;
              font-size: 25px;
              color: #707070;
              font-family: "Pretendard-SemiBold", sans-serif;
            }
            > ul {
              padding: 0 50px 50px 50px;
              > li {
                margin-top: 20px;
                line-height: 23px;
                cursor: pointer;
                &:first-child {
                  margin-top: 0;
                }
              }
            }
          }
        }
        &.on {
          > ul {
            display: block;
          }
        }
      }
    }
  }
}
.ReactModalPortal{
  .info-detail {
    display: flex;
    justify-content: space-between;
    .info-detail-text {
      h3 {
        font-size: 30px;
        font-family: "Pretendard-Bold", sans-serif;
        color: #707070;
        margin-bottom: 25px;
      }
      .address {
        margin: 25px 0;
        > p {
          font-size: 18px;
          font-family: "Pretendard-SemiBold", sans-serif;
          color: #707070;
        }
        > address {
          font-size: 18px;
          font-family: "Pretendard-SemiBold", sans-serif;
          color: #707070;
        }
      }
      .contact {
        margin: 25px 0;
        > p {
          padding-left: 20px;
          font-size: 18px;
          font-family: "Pretendard-SemiBold", sans-serif;
          color: #707070;
          &.tel {
            background: url("/images/sub/company/affiliate/phone-call.png") no-repeat 0 50%;
          }
          &.fax {
            background: url("/images/sub/company/affiliate/fax.png") no-repeat 0 50%;
          }
        }
      }
      .etc-info {
        > p {
          font-size: 18px;
          font-family: "Pretendard-SemiBold", sans-serif;
          color: #707070;
        }
      }
    }
  }
}


@media screen and (max-width: 767px) {
  .affiliate {
    .continent {
      > ul {
        > li {
          > p {
            padding: 0 10px;
            background-position: calc(100% - 10px) 50%
          }
          &.on {
            > p {
              background-position: calc(100% - 10px) 50%
            }
          }
          > ul {
            > li {
              > p {
                padding: 0 10px 30px 10px;
              }
              > ul {
                padding: 0 10px 50px 10px;
              }
            }
          }
        }
      }
    }
  }
}
