.greeting {
  //padding-bottom: 500px;
  .greeting-text-01 {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #ebebeb;

    > section {
      width: 50%;

      img {
        width: 100%;
        height: auto;
        vertical-align: top;
      }
    }

    > div {
      width: 50%;
      display: flex;
      justify-content: center;

      > div {
        max-width: 581px;

        > h3 {
          font-size: 25px;
          font-family: "Pretendard-Bold", sans-serif;
          color: #707070;
          margin-bottom: 25px;
        }

        > p {
          color: #000;
          font-size: 40px;
          font-family: "Pretendard-SemiBold", sans-serif;
          line-height: 48px;
        }

        > div {
          > p {
            color: #707070;
            font-size: 25px;
            line-height: 30px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

.greeting-text-02 {
  background: url("/images/sub/company/greeting/ceo-greeting-car-2.jpg") no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  display: flex;

  > div {
    max-width: 1600px;
    padding: 100px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    align-items: center;

    > div {
      width: 50%;
      background: url("/images/sub/company/greeting/songhaksung-signature-01.png") no-repeat 30px 100%;
      box-sizing: border-box;
      padding: 0 40px 100px;

      > p {
        color: #fff;
        font-size: 25px;
        font-family: "Pretendard-SemiBold", sans-serif;
        line-height: 34px;
        margin-top: 50px;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .greeting {
    .greeting-text-01 {
      flex-wrap: wrap;
      > section {
        width: 100%;
      }
      > div {
        padding: 30px 0;
        width: 100%;
      }
    }
    .greeting-text-02 {
      > div {
        > div {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .greeting {
    .greeting-text-01 {
      flex-wrap: wrap;
      > section {
        width: 100%;
      }
      > div {
        padding: 75px 20px 75px;
        width: 100%;
      }
    }
    .greeting-text-02 {
      > div {
        > div {
          width: 100%;
          padding: 0 0 100px;
          background-position: 0 100% !important;
        }
      }
    }
  }
}
