.greeting {
  padding-bottom: 450px;
  .greeting-text-01 {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    gap: 30px 0;
   > section {
      margin-left: -160px;
      max-width: 100%;
      > img {
        vertical-align: top;
        &:first-child {
          margin-bottom: 0px;
        }
      }
    }

    > div {
      position: top;
      top: 100px;
      padding-left: 0px;
      height: 100%;
      z-index: 1;
      > h3 {
        font-size: 25px;
        font-family: "Pretendard-Bold", sans-serif;
        color: #707070;
        margin-bottom: 25px;
        margin-left: 150px;
        padding-top: 100px;
      }
      > p {
        color: #000;
        font-size: 40px;
        font-family: "Pretendard-SemiBold", sans-serif;
        line-height: 48px;
        margin-left: 150px;
      }
      > div {
        > p {
          color: #707070;
          font-size: 25px;
          line-height: 30px;
          margin-top: 30px;
        }
      }
    }
  }
}

.greeting-text-image-01 {
  margin-right: 0;
  padding-left: 380px;
  padding-bottom: 0;
  z-index: 0;
}

.greeting-background-color {
  background-color: #ebebeb;
  margin-right: 0px;
  padding-right: 0px;
  z-index: -1;
}

.greeting-text-image-02 {
  margin-bottom: 0;
  z-index: 0;
  position: absolute;
  .sign {
    text-align: center;
    position: relative;
    right: -700px;
    top: -200px;
  }  
}


.greeting-text-02 {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column; /* 세로 배치를 위한 설정 */
  gap: 30px 0;
  z-index: 1;
  position: relative;
  > div {
    position: relative;
    padding-left: 0px;
    height: 100%;
    z-index: 1;
    > p {
      color: #ffffff;
      font-size: 25px;
      font-family: "Pretendard-SemiBold", sans-serif;
      line-height: 34px;
      padding-top: 100px;
      margin-left: 1100px;
      margin-right: 150px;
      position: relative; /* absolute 대신 relative 사용 */

    }
    > div {
      > p {
        color: #707070;
        font-size: 25px;
        line-height: 30px;
        margin-top: 30px;
      }
    }
  }
}




// @media screen and (min-width: 768px) and (max-width: 1024px) {
//   .greeting {
//     .greeting-text {
//       flex-wrap: wrap;
//       > img {
//         margin-left: 0;
//       }
//       > div {
//         padding: 0 20px;
//       }
//     }
//   }
// }
// @media screen and (max-width: 767px) {
//   .greeting {
//     .greeting-text {
//       flex-wrap: wrap;
//       > img {
//         margin-left: 0;
//       }
//       > div {
//         padding: 0 20px;
//       }
//     }
//   }
// }
