.history {
  padding-bottom: 250px;
  .history-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px;
    .history-link {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px 28px;
      margin-bottom: 100px;
      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0;
        border: none;
        background: #ECECEC;
        color: #BDC1C8;
        font-size: 15px;
        font-family: "Pretendard-Bold", sans-serif;
        height: 55px;
        border-radius: 11px;
        width: 222px;
        cursor: pointer;
        &.active {
          background: #023A8E;
          color: #fff;
        }
      }
    }
    .history-list {
      display: flex;
      justify-content: space-between;
      .list {
        > ul {
          > li {
            display: flex;
            gap: 20px 65px;
            margin-top: 45px;
            &:first-child {
              margin-top: 0;
            }
            > p.year {
              color: #0F3553;
              font-size: 28px;
              font-family: "Pretendard-Bold", sans-serif;
              min-width: 72px;
            }
            > ul {
              > li {
                display: flex;
                gap: 20px 62px;
                margin-top: 45px;
                &:first-child {
                  margin-top: 0;
                }
                .month {
                  color: #0F3553;
                  font-size: 28px;
                  font-family: "Pretendard-Bold", sans-serif;
                  min-width: 60px;
                }
                .history-detail {
                  flex-basis: 650px;
                  font-size: 18px;
                  font-family: "Pretendard-Medium", sans-serif;
                  color: #52575E;
                  line-height: 30px;
                }
              }
            }
          }
        }
      }
      .history-image {
        img {
          width: auto;
          height: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {

}
