.research {
  .section-01 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 180px;
    gap: 0 37px;
    .research-image {
      position: relative;
      min-height: 696px;
      width: 854px;
      border-right: 1px solid #ccc;
      &:after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 400px;
        height: 243px;
        background-color: #BD0200;
      }
      h3 {
        position: absolute;
        top: 0;
        right: 30px;
        color: #333;
        font-size: 48px;
        font-weight: 600;
        z-index: 3;
        line-height: normal;
        span {
          color: #BD0200;
        }
      }
      .research-bg-01 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
      .research-bg-02 {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 1;
      }
    }
    .research-text {
      max-width: 550px;
      > img {
        width: 100%;
        height: auto;
        margin-bottom: 39px;
      }
      > div {
        position: relative;
        padding-top: 43px;
        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 133px;
          height: 4px;
          background: #BD0200;
        }
        > p {
          color: #666;
          margin-bottom: 30px;
          line-height: 30px;
          span {
            font-weight: 600;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  .section-02 {
    text-align: center;
    margin-bottom: 200px;
    h3 {
      position: relative;
      color: #333;
      font-size: 24px;
      padding-bottom: 24px;
      margin-bottom: 29px;
      &:after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 68px;
        height: 2px;
        background: #BD0200;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      gap: 0 19px;
      flex-wrap: wrap;
    }
  }

  .section-03 {
    text-align: center;
    > p {
      color: #BD0200;
      line-height: normal;
    }
    > h3 {
      position: relative;
      color: #333;
      font-size: 24px;
      padding-bottom: 24px;
      margin-bottom: 73px;
      &:after {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 68px;
        height: 2px;
        background: #BD0200;
      }
    }
    > ul {
      display: flex;
      justify-content: center;
      gap: 37px 37px;
      align-items: center;
      > li {
        position: relative;
        display: flex;
        width: 333px;
        height: 305px;
        align-items: center;
        > p {
          flex-grow: 1;
          color: #fff;
          position: relative;
          z-index: 1;
          line-height: normal;
        }
        &:after {
          display: block;
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background: rgba(0, 0, 0, 0.30);
        }
        &.field-01 {
          background: url("/images/introduce/research-bg-04.png") no-repeat 50% 50%;
        }
        &.field-02 {
          background: url("/images/introduce/research-bg-05.png") no-repeat 50% 50%;
        }
        &.field-03 {
          background: url("/images/introduce/research-bg-06.png") no-repeat 50% 50%;
        }
        &.field-04 {
          background: url("/images/introduce/research-bg-07.png") no-repeat 50% 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .research {
    .section-01 {
      .research-text {
        max-width: 400px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .research {
    .section-01 {
      flex-wrap: wrap;
      .research-image {
        width: 100%;
        border-right: none;
        margin-bottom: 30px;
      }
      .research-text {
        max-width: none;
      }
    }
    .section-03 {
      > ul {
        flex-wrap: wrap;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .research {
    .section-01 {
      flex-wrap: wrap;
      .research-image {
        width: 100%;
        border-right: none;
        margin-bottom: 30px;
        &:after{
          display: none;
        }
        h3 {
          position: static;
        }
        .research-bg-01, .research-bg-02 {
          position: static;
          width: 100%;
          height: auto;
        }
      }
      .research-text {
        max-width: none;
      }
    }
    .section-03 {
      > ul {
        flex-wrap: wrap;
      }
    }
  }
}
