.products-detail {
  max-width: 1600px;
  padding: 0 20px 250px;
  margin: 0 auto;
  img {
    width: auto;
    height: auto;
  }
  > h3 {
    max-width: 580px;
    border-bottom: 1px solid #023A8E;
    color: #023A8E;
    font-size: 45px;
    font-family: "Pretendard-Medium", sans-serif;
    padding-bottom: 25px;
    margin-bottom: 30px;
  }
  .products-detail-top {
    display: flex;
    justify-content: space-between;
    .products-detail-list {
      > dl {
        margin-top: 10px;
        &:first-child {
          margin-top: 0;
        }
        > dt {
          font-size: 20px;
          font-family: "Pretendard-Bold", sans-serif;
          color: #023A8E;
        }
        > dd {
          padding-left: 20px;
          margin-top: 10px;
          > ul {
            > li {
              margin-top: 10px;
              &:first-child {
                margin-top: 0;
              }
              > button {
                cursor: pointer;
                border: none;
                padding: 0;
                background: none;
                font-size: 20px;
                color: #023A8E;
                &.active {
                  color: #FF43CD;
                }
              }
              > a {
                display: inline-block;
                vertical-align: middle;
                img {
                  vertical-align: top;
                  width: auto;
                  height: auto;
                }
              }
            }
          }
        }
      }
    }
    .products-detail-image {
      position: relative;
      max-width: 992px;
      img {
        vertical-align: top;
        width: 100%;
        height: auto;
      }
      span {
        position: absolute;
        width: 31px;
        height: 31px;
        background-color: #fff;
        border-radius: 31px;
        border: 1px solid #707070;
        box-sizing: border-box;
        &.active {
          background-color: #07A3FF;
          border: none;
          transition: all 0.5s ease-in-out;
          animation: animate1 2.5s linear infinite;
        }
        &.products-01-01 {
          top: 43%;
          left: 23%;
        }
        &.products-01-02 {
          top: 47%;
          left: 44%;
        }
        &.products-01-03 {
          top: 40%;
          left: 87%;
        }
        &.products-01-04 {
          top: 45%;
          left: 5%;
        }
        &.products-01-05 {
          top: 41%;
          left: 13.5%;
        }
        &.products-01-06 {
          top: 45%;
          left: 34%;
        }
        &.products-01-07 {
          top: 41%;
          left: 58.5%;
        }
        &.products-01-08 {
          top: 38%;
          right: 18.5%;
        }
        &.products-01-09 {
          top: 43%;
          left: 30%;
        }
        &.products-01-10 {
          top: 37%;
          right: 15%;
        }
        &.products-01-11 {
          top: 39%;
          right: 22%;
        }
        &.products-01-12 {
          top: 55%;
          right: 21%;
        }
        &.products-02-01 {
          top: 54%;
          left: 28.5%;
        }
        &.products-02-02 {
          top: 22%;
          left: 15%;
        }
        &.products-02-03 {
          top: 25%;
          left: 40%;
        }

        &.products-02-04 {
          top: 47%;
          left: 12%;
        }
        &.products-02-05 {
          top: 53%;
          left: 37%;
        }
        &.products-02-06 {
          top: 64.5%;
          left: 20%;
        }
        &.products-02-07 {
          top: 50%;
          left: 76%;
        }
        &.products-02-08 {
          top: 36%;
          left: 16%;
        }
        &.products-02-09 {
          top: 42.5%;
          left: 58%;
        }
        &.products-02-10 {
          top: 31%;
          right: 11.5%;
        }

        &.products-03-01 {
          left: 64.5%;
          top: 65%;
        }
      }
    }
  }
  .products-detail-middle {
    margin: 125px 0 135px;
    > h4 {
      background-color: #1B4D99;
      color: #fff;
      padding: 19px 50px;
      font-size: 40px;
      font-family: "Pretendard-Medium", sans-serif;
      margin-bottom: 40px;
    }
    .products-area {
      display: flex;
      justify-content: space-between;
      .products-image-area {
        width: 50%;
        text-align: center;

        &.reverse {
          img {
            transform: scale(-1, 1);
          }
        }
        img {
          vertical-align: top;
        }
        > p {
          font-family: "Pretendard-Medium", sans-serif;
          font-size: 20px;
          margin-top: 30px;
          color: #023A8E;
          line-height: 30px;
          background-color: #eeeeee; /* 아주 연한 회색 */
          padding: 15px;
          border-radius: 8px;
          width: 50%; /* 또는 max-width: 400px; */
          margin: 0 auto; /* 가운데 정렬 */
        }
      }
      .products-text-area {
        flex-basis: 516px;
        font-size: 20px;
        line-height: 40px;
        color: #023A8E;
        > dl {
          margin-top: 79px;
          > dt {
            margin-bottom: 10px;
            font-size: 20px;
            font-family: "Pretendard-Bold", sans-serif;
            color: #023A8E;
          }
          > dd {
            > ul {
              > li {
                position: relative;
                padding-left: 25px;
                color: #023A8E;
                &:before {
                  position: absolute;
                  top: 0;
                  left: 0;
                  content: "󰀂";
                }
              }
            }
          }
        }
      }
    }
  }
  .products-detail-bottom {
    > ul {
      margin-bottom: 150px;
      display: flex;
      justify-content: space-between;
      gap: 38px;
      flex-wrap: wrap;
      > li {
        flex: 1 1 0;
        text-align: center;
        .image-area {
          border: 1px solid #C2C2C2;
          margin-bottom: 20px;
          min-height: 431px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-width: 500px;
            vertical-align: top;
          }
        }
        .text-area {
          color: #023A8E;
          font-size: 20px;
          font-family: "Pretendard-Medium", sans-serif;
        }
      }
    }
    > div {
      display: flex;
      justify-content: end;
      > div {
        max-width: 1006px;
        line-height: 35px;
        font-size: 18px;
        font-family: "Pretendard-Medium", sans-serif;
        color: #52575E;
      }
    }
  }
}

.client-slide {
  text-align: center;
  padding-bottom: 250px;
  h2 {
    display: inline-block;
    border-bottom: 1px solid #023A8E;
    position: relative;
    padding-bottom: 46px;
    font-family: "Pretendard-Bold", sans-serif;
    font-size: 50px;
    width: 100%;
    max-width: 580px;
    color: #023A8E;
    margin-bottom: 45px;
  }
  img {
    width: auto;
    height: auto;
    margin: 0 auto;
    gap: 10px;
  }
}

@keyframes animate1 {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0 0 5px 5px #07A3FF;
  }
  100% {
    box-shadow: none;
  }
}
