.privacy {
  padding: 200px 20px 200px;
  max-width: 1200px;
  margin: 0 auto;
  > h2 {
    font-size: 45px;
    font-family: "Pretendard-ExtraBold", sans-serif;
    color: #023A8E;
    margin-bottom: 55px;
    text-align: center;
  }
  > section {
    margin-bottom: 60px;
    h3 {
      font-family: "Pretendard-Bold", sans-serif;
      font-size: 30px;
      margin-bottom: 25px;
      line-height: normal;
    }
    > p {
      line-height: 25px;
      margin-bottom: 15px;
    }
    > div {
      line-height: 25px;
      margin-bottom: 15px;
    }
  }
}
