.new-technology {
  .container-header-01 {
         padding: 150px 20px 100px;
         margin-bottom: 60px;
         background-color: #000016;
        .location {
          display: flex;
          gap: 10px;
          padding-left: 120px;
          > li {
          position: relative; // 기준 설정
          margin-bottom: 20px;
          color: #fFF;
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 16px */
          &:before {
            content: ">";
            margin-right: 10px;
          }

          &:first-child:before {
            display: none;
          }
          }
        }
         > h2 {
          align-self: stretch;
          color: #FFF;
          font-family: Unbounded;
          font-size: 64px;
          font-style: normal;
          font-weight: 600;
          line-height: 76px; /* 118.75% */
          padding-bottom: 65px;
          margin-bottom: 0px;
          padding-left: 120px;
        }
        > p {
          color: #FFF;
          text-shadow: 4px 4px 10px #000;
          font-family: Pretendard;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 32px */;
          padding-left: 120px;
        }
      }

      
  .new-tech-process {
    .mobile {
      display: none;
    }
    img {
      vertical-align: top;
      width: 100%;
      height: auto;
    }
  }
  .new-tech-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
  }
}

@media screen and (max-width: 767px) {
  .new-technology {
    .new-tech-process {
      .pc {
        display: none;
      }
      .mobile {
        display: block;
      }
    }
  }
}
