.research {
  .research-banner {
       padding: 220px 20px 0;
       margin-bottom: 0px;
       background-color: #000016;

       > img {
        max-width: 1600px;
        width: 100%;
        height: auto;
        vertical-align: top;
        text-align: center;
        align-items: center;
        padding-left: 120px;
        padding-bottom: 40px;
       }


       > div {
        display: flex;
        flex-direction: column;
        > h2 {
          align-self: stretch;
          color: #FFF;
          font-family: Unbounded;
          font-size: 64px;
          font-style: normal;
          font-weight: 600;
          line-height: 76px; /* 118.75% */
          padding-bottom: 65px;
          margin-bottom: 0px;
          padding-left: 120px;
        }
        .location {
          display: flex;
          gap: 10px;
          padding-left: 120px;
          > li {
          position: relative; // 기준 설정
          margin-bottom: 20px;
          color: #24C2FF;
          font-family: Pretendard;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 16px */
          &:before {
            content: ">";
            margin-right: 10px;
          }

          &:first-child:before {
            display: none;
          }
          }
        }
      }


       .research-text {
          position: relative;
          margin: 0 0px 0px 0px;
          display: flex;
          text-align: left;
          justify-content: start;
          flex-direction: row;
          gap: 100px; 
          padding-left: 120px;
          padding-bottom: 40px;
          max-width: 1600px;
          width: 100%;
          p {
            color: #24C2FF;
            font-family: Pretendard;
            font-size: 40px;
            font-style: normal;
            font-weight: 600;
            line-height: 100%; /* 40px */   
            &:last-child {
            color: #FFF;
            font-family: Pretendard;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 32px */
            opacity: 0.8;

            }
          }
        }
    }
  }


  .title-area {
      text-align: left;
      max-width: 1600px;
      padding-left: 120px;
    > h2 {
          display: inline-block;
          position: relative;
          font-family: "Pretendard-Bold", sans-serif;
          font-size: 50px;
          width: 100%;
          max-width: 1000px;
          color: #192A67;
          padding-top: 120px;
          padding-bottom: 40px;
        }
  }
  .link-area {
    height: 812px;
    background: url("/images/sub/research/research-list-bg-01.png") no-repeat 50% 0;
    transition: all 0.3s ease-in-out;
    &.link-area1 {
      background-image: url("/images/sub/research/research-list-bg-01.png");
    }
    &.link-area2 {
      background-image: url("/images/sub/research/research-list-bg-02.png");
    }
    &.link-area3 {
      background-image: url("/images/sub/research/research-list-bg-03.png");
    }
    &.link-area4 {
      background-image: url("/images/sub/research/research-list-bg-04.png");
    }
    margin-bottom: 140px;
    > ul {
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      > li {
        flex: 1 1 0;
        box-sizing: border-box;
        border-left: 1px solid rgba(255, 255, 255, 0.9);
        &:first-child {
          border-left: none;
        }
        > a {
          position: relative;
          display: block;
          height: 100%;
          overflow: hidden;
          > p {
            position: absolute;
            bottom: 89px;
            left: 0;
            width: 100%;
            color: #fff;
            text-align: center;
            font-size: 35px;
            font-family: "Pretendard-ExtraBold", sans-serif;
            > span {
              color: #18F9DA;
            }
          }
          &:hover {
            > p {
              opacity: 0;
              transition: all 0.5s ease-in-out;
            }
            > div {
              opacity: 1;
              transition: all 0.7s ease-in-out;
            }
          }
          > div {
            position: absolute;
            bottom: 0;
            opacity: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 159px 17px 85px 59px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            > dl {
              > dt {
                color: #fff;
                font-size: 35px;
                font-family: "Pretendard-ExtraBold", sans-serif;
                margin-bottom: 40px;
                span {
                  color: #18F9DA;
                }
              }
              > dd {
                font-size: 18px;
                line-height: 21px;
                color: #fff;
              }
            }
            > p {
              color: #fff;
              border: 1px solid #fff;
              padding: 9px 0 9px 126px;
              font-family: "Pretendard-Medium", sans-serif;
              font-size: 25px;
              background: url("/images/sub/research/arrow.png") no-repeat 38.5px 50%;
            }
          }
        }
      }
    }
  }

.research-text-03 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 20px;
  background-color: #fff;

  .research-text-image-03 {
    display: flex;
    flex-direction: row;  // 가로 정렬
    align-items: center;
    gap: 60px;            // 이미지와 텍스트 간격
    max-width: 1600px;
    width: 100%;

    img {
      width: 550px;
      height: auto;
      display: block;
      padding-right: 200px; // 이미지 오른쪽 여백
      
    }

    > div {
      flex: 1;
      h3 {
        color: #333;
        font-family: Pretendard;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%; /* 51.2px */
        padding-bottom: 40px;
      }

      p {
        color: #333;
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 32px */
        align-self: stretch;
        padding-bottom: 40px;
      }
      img {
      width: 174px;
      height: auto;
     }
    }
  }
}



  .research-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px 250px;
    .research-detail {
      margin-bottom: 175px;
      h3 {
        margin-bottom: 45px;
        font-size: 30px;
        font-family: "Pretendard-Bold", sans-serif;
        line-height: 35px;
        color: #52575E;
      }
      > div {
        margin-bottom: 30px;
        color: #52575E;
        font-size: 20px;
        font-family: "Pretendard-Medium", sans-serif;
        line-height: 35px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .related-contents {
    text-align: left;
    > h3 {
      display: inline-block;
      position: relative;
      font-family: "Pretendard-Bold", sans-serif;
      font-size: 50px;
      width: 100%;
      max-width: 600px;
      color: #192A67;
      padding-bottom: 40px;
    }
    > ul {
      display: flex;
      flex-direction: column;
      > li {
        width: 32%;
        > a {
          position: relative;
          display: flex;
          flex-direction: column;
          > img {
            width: 100%;
            height: auto;
          }
          > div {
            width: 100%;
            text-align: left;
            color: #222;
            font-family: Pretendard;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%; /* 41.6px */
            padding-top: 40px;
            align-self: stretch;
          }
        }
         
      }
      .research-01 {
        padding-left: 0px;
      }
      .research-02 {
        padding-left: 550px;
      }
      
      .research-03 {
        padding-left: 1090px;
      }
    }
  }


@media screen and (max-width: 1024px) {
  .research {
    .link-area {
      > ul {
        > li {
          width: 100%;
          flex-basis: 100%;
          border-left: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.9);
          height: auto;
        }
      }
    }
  }
}

// @media screen and (max-width: 767px) {
//   .research {
//     .related-contents {
//       > ul {
//         flex-wrap: wrap;
//         gap: 20px;
//         > li {
//           width: 100%;
//         }
//       }
//     }
//   }
// }

@media (max-width: 768px) {
  .link-area {
    height: auto !important;
    background-size: cover !important;
    > ul {
      > li {
          width: 100%;
          flex-basis: 100%;
          border-left: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.9);
          height: auto;

        &:first-child {
          border-top: none;
        }

        > a {
          height: auto;
          padding: 0;
          position: relative;
          font-size: 18px;

          > p {
            display: none;
            position: static;
            font-size: 18px;
            line-height: 1.4;
            text-align: left;
            margin-bottom: 10px;
          }

          > div {
            position: static !important;
            opacity: 1 !important;
            padding: 10px 20px !important;
            background: rgba(0, 0, 0, 0.5);
            box-sizing: border-box;

            > dl {
              > dt {
                font-size: 18px;
                margin-bottom: 15px;

                span {
                  color: #18F9DA;
                }
              }

              > dd {
                font-size: 14px;
                line-height: 1.5;
              }
            }

            > p {
              margin-top: 15px;
              font-size: 16px;
              padding: 10px 0 10px 50px;
              background-size: 18px auto;
              background-position: 15px center;
            }
          }

          .link-area ul > li > a.clicked {
            > p {
              opacity: 0;
              transition: all 1.2s ease-in-out;
            }
            > div {
              opacity: 1;
              transition: all 1.2s ease-in-out;
            }
          }
        }
      }
    }
  }
  .related-contents {
    font-size: 13px;
    display: flex;
    flex-direction: column;

    > h3 {
      font-size: 18px;
      padding-bottom: 10px;
    }

    > ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-height: 500px; /* 필요 시 높이 조절 가능 */
      overflow-y: auto;
      padding-right: 10px;

      > li > a > div {
        position: absolute;
        margin-left: 130px;
        text-align: left;
        color: #868686 !important;
        font-size: 18px !important;
        line-height: 20px !important;
        font-family: "Pretendard-ExtraBold", sans-serif;
        }

      }
    }
  }


