.research {
  .research-banner {
    position: relative;
    background: url("/images/sub/research/research-banner.png") no-repeat 50% 50%;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    > div {
      max-width: 1600px;
      padding: 100px 20px 30px;
      margin: 0 auto;
      width: 100%;
      > div {
        max-width: 855px;
        > h2 {
          color: #fff;
          font-family: "Pretendard-ExtraBold", sans-serif;
          font-size: 45px;
        }
        > .text-01 {
          color: #fff;
          font-size: 45px;
          font-family: "Pretendard-SemiBold", sans-serif;
          line-height: 54px;
          margin: 30px 0 25px;
        }
        > .text-02 {
          color: #fff;
          font-size: 18px;
          font-family: "Pretendard-Medium", sans-serif;
          line-height: 21px;
        }
      }
    }
  }
  .title-area {
    max-width: 1600px;
    padding: 0 20px;
    margin: 118px auto 85px;
    > img {
      max-width: 1249.08px;
      width: 100%;
      height: auto;
    }
  }
  .link-area {
    height: 812px;
    background: url("/images/sub/research/research-list-bg-01.png") no-repeat 50% 0;
    transition: all 0.3s ease-in-out;
    &.link-area1 {
      background-image: url("/images/sub/research/research-list-bg-01.png");
    }
    &.link-area2 {
      background-image: url("/images/sub/research/research-list-bg-02.png");
    }
    &.link-area3 {
      background-image: url("/images/sub/research/research-list-bg-03.png");
    }
    &.link-area4 {
      background-image: url("/images/sub/research/research-list-bg-04.png");
    }
    margin-bottom: 140px;
    > ul {
      display: flex;
      height: 100%;
      flex-wrap: wrap;
      > li {
        flex: 1 1 0;
        box-sizing: border-box;
        border-left: 1px solid rgba(255, 255, 255, 0.9);
        &:first-child {
          border-left: none;
        }
        > a {
          position: relative;
          display: block;
          height: 100%;
          overflow: hidden;
          > p {
            position: absolute;
            bottom: 89px;
            left: 0;
            width: 100%;
            color: #fff;
            text-align: center;
            font-size: 35px;
            font-family: "Pretendard-ExtraBold", sans-serif;
            > span {
              color: #18F9DA;
            }
          }
          &:hover {
            > p {
              opacity: 0;
              transition: all 0.5s ease-in-out;
            }
            > div {
              opacity: 1;
              transition: all 0.7s ease-in-out;
            }
          }
          > div {
            position: absolute;
            bottom: 0;
            opacity: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            padding: 159px 17px 85px 59px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            > dl {
              > dt {
                color: #fff;
                font-size: 35px;
                font-family: "Pretendard-ExtraBold", sans-serif;
                margin-bottom: 40px;
                span {
                  color: #18F9DA;
                }
              }
              > dd {
                font-size: 18px;
                line-height: 21px;
                color: #fff;
              }
            }
            > p {
              color: #fff;
              border: 1px solid #fff;
              padding: 9px 0 9px 126px;
              font-family: "Pretendard-Medium", sans-serif;
              font-size: 25px;
              background: url("/images/sub/research/arrow.png") no-repeat 38.5px 50%;
            }
          }
        }
      }
    }
  }

  .research-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 20px 250px;
    .research-detail {
      margin-bottom: 175px;
      h3 {
        margin-bottom: 45px;
        font-size: 30px;
        font-family: "Pretendard-Bold", sans-serif;
        line-height: 35px;
        color: #52575E;
      }
      > div {
        margin-bottom: 30px;
        color: #52575E;
        font-size: 20px;
        font-family: "Pretendard-Medium", sans-serif;
        line-height: 35px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .related-contents {
    text-align: center;
    > h3 {
      display: inline-block;
      border-bottom: 1px solid #023A8E;
      position: relative;
      padding-bottom: 46px;
      font-family: "Pretendard-Bold", sans-serif;
      font-size: 50px;
      width: 100%;
      max-width: 580px;
      color: #023A8E;
      margin-bottom: 80px;
    }
    > ul {
      display: flex;
      justify-content: space-between;
      > li {
        width: 32%;
        > a {
          display: block;
          position: relative;
          > img {
            width: 100%;
            height: auto;
          }
          > div {
            position: absolute;
            bottom: 30px;
            left: 30px;
            text-align: left;
            color: #F6F3F3;
            font-size: 35px;
            line-height: 41px;
            font-family: "Pretendard-ExtraBold", sans-serif;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .research {
    .link-area {
      > ul {
        > li {
          width: 100%;
          flex-basis: 100%;
          border-left: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.9);
          height: auto;
        }
      }
    }
  }
}

// @media screen and (max-width: 767px) {
//   .research {
//     .related-contents {
//       > ul {
//         flex-wrap: wrap;
//         gap: 20px;
//         > li {
//           width: 100%;
//         }
//       }
//     }
//   }
// }

@media (max-width: 768px) {
  .link-area {
    > ul {
      > li {
          width: 100%;
          flex-basis: 100%;
          border-left: none;
          border-bottom: 1px solid rgba(255, 255, 255, 0.9);
          height: auto;

        &:first-child {
          border-top: none;
        }

        > a {
          height: auto;
          padding: 0px 10px;
          position: relative;
          font-size: 18px;

          > p {
            display: none;
            position: static;
            font-size: 18px;
            line-height: 1.4;
            text-align: left;
            margin-bottom: 10px;
          }

          > div {
            position: static;
            opacity: 1 !important;
            padding: 10px 0;
            background: rgba(0, 0, 0, 0.5);
            box-sizing: border-box;

            > dl {
              > dt {
                font-size: 18px;
                margin-bottom: 15px;

                span {
                  color: #18F9DA;
                }
              }

              > dd {
                font-size: 14px;
                line-height: 1.5;
              }
            }

            > p {
              margin-top: 15px;
              font-size: 16px;
              padding: 10px 0 10px 50px;
              background-size: 18px auto;
              background-position: 15px center;
            }
          }

          .link-area ul > li > a.clicked {
            > p {
              opacity: 0;
              transition: all 1.2s ease-in-out;
            }
            > div {
              opacity: 1;
              transition: all 1.2s ease-in-out;
            }
          }
        }
      }
    }
  }
  .related-contents {
    font-size: 13px;
    display: flex;
    flex-direction: column;
  
    > h3 {
      font-size: 18px;
      padding-bottom: 10px;
    }
  
    > ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-height: 500px; /* 필요 시 높이 조절 가능 */
      overflow-y: auto;
      padding-right: 10px;
  
      > li > a > div {
        position: absolute;
        margin-left: 130px;
        text-align: left;
        color: #868686 !important;
        font-size: 18px !important;
        line-height: 20px !important;
        font-family: "Pretendard-ExtraBold", sans-serif;
        }
       
      }
    }
  }
  

